.slider {
	position: relative;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
  width: 50%;
  margin: auto;
  padding-top: 10px;
}

.slide active {
  height:1250px;
  width: 1250px;
}

.image {
	max-height: 100%;
  max-width: 100%;
  margin: auto;
	border-radius: 10px;
}

.right-arrow {
	position: absolute;
	top: 50%;
	right: 32px;
	font-size: 3rem;
	color: #000;
	z-index: 10;
	cursor: pointer;
	user-select: none;
}

.left-arrow {
	position: absolute;
	top: 50%;
	left: 32px;
	font-size: 3rem;
	color: #000;
	z-index: 10;
	cursor: pointer;
	user-select: none;
}

