* {
	background-color: #031c32;
	color: #b2ccff;
	font-family: "Optima";
	font-weight: 500;
	font-size: large;
}

.app__body {
	display: flex;
}

.routes {
	margin-top: 50px;
	margin-left: 35px;
	margin-right: 35px;
}
